In [416]:
import PyPDF2 as pdf
import tabula as ta
import pandas as pd
import numpy as np

In [2]:
obj = open('college_cutoffs.pdf','rb')

In [3]:
read = pdf.PdfFileReader(obj)

In [4]:
print (type(read.numPages))

<class 'int'>

In [82]:
page = read.getPage(1260)

In [83]:
a=page.extractText()

In [84]:
print (a)

DirState Common Entrance Test Cell
Cut Off List of Maharashtra State Candidature Candidates of
CAP Round I
 for Admission to First Year of Four Year Full Time Degree Courses in Engineering and Technology for the Academic
Year
2019-20Government of Maharashtra6795 - Shri.Someshwar Shikshan Prasarak Mandals, Someshwar Engineering College, Someshwar Nagar679519110 - Civil Engineering
Status:Home University : Savitribai Phule Pune UniversityHome University Seats Allotted to Home University Candidates
GOPENH  I81692(10.1511410
)StageOther Than Home University Seats Allotted to Home University Candidates
GOPENO  I85542(3.5131044)Stage679524510 - Computer EngineeringStatus:Home University : Savitribai Phule Pune UniversityHome University Seats Allotted to Home University Candidates
GOPENHGSCHGOBCHLOPENHLSCH  I63518(32.2393053)79457(13.3253188)73300(20.4018598)43606(66.4335943)79439(13.3528385)StageOther Than Home University Seats Allotted to Other Than Home University Candidates
GNT2OLOBCO  I35584(76.8269809)  II79566(13.1895309)StageState LevelTFWS  I19963(90.0233917)Stage1Legends: Starting character G-General, L-Ladies, End character H-Home University, O-Other than Home University,S-State Level, AI- All India Seat. Maharashtra State Seats - Cut Off Indicates Maharashtra State General Merit No
.; Figures in bracket Indicates Merit Percentile.

In [18]:
readtable = ta.read_pdf('college_cutoffs.pdf',pages='658', multiple_tables = True)

In [24]:
import pandas as pd

In [20]:
import tabula

In [92]:
a=tabula.read_pdf('college_cutoffs.pdf',pages='1260',multiple_tables=True)

In [93]:
len(a)

4

In [96]:
a[2]

  Unnamed: 0  Unnamed: 1               GOPENH
0          I         NaN  56057\r(45.5606411)

In [42]:
len(a)

4

In [45]:
b=pd.DataFrame(a[0])

In [46]:
b

,Unnamed: 0,GOPENH,GSCH,GNT1H,GNT2H,GNT3H,GOBCH,LOPENH,LOBCH,LSEBCH
0,I,45358,81165,70145,50464,52571,59432,44572,59092,76107
1,NaN,(63.7500634),(10.9325551),(23.5130320),(55.5893919),(51.8210062),(39.4139757),(65.0405915),(40.0530840),(17.3413816)

In [48]:
b[b.]

['Unnamed: 0',
 'GOPENH',
 'GSCH',
 'GNT1H',
 'GNT2H',
 'GNT3H',
 'GOBCH',
 'LOPENH',
 'LOBCH',
 'LSEBCH']

In [55]:
try:
    a=tabula.read_pdf('college_cutoffs.pdf',pages='2000',multiple_tables=True)
    print (a)
except:
    print ('ok')

Error from tabula-java:
Exception in thread "main" java.lang.IndexOutOfBoundsException: Page number does not exist
	at technology.tabula.ObjectExtractor.extractPage(ObjectExtractor.java:19)
	at technology.tabula.PageIterator.next(PageIterator.java:29)
	at technology.tabula.CommandLineApp.extractFile(CommandLineApp.java:166)
	at technology.tabula.CommandLineApp.extractFileTables(CommandLineApp.java:129)
	at technology.tabula.CommandLineApp.extractTables(CommandLineApp.java:111)
	at technology.tabula.CommandLineApp.main(CommandLineApp.java:81)

ok

In [76]:
a=read.getPage(756)

In [77]:
b=a.extractText()

<pandas.io.excel._base.ExcelFile object at 0x7fb4b1e27b20>

In [79]:
 if (b.find('Savitribai Phule Pune University')>0 and b.find('Civil')>0):
        print ('find')

find

In [65]:
b[404:]

'Savitribai Phule Pune UniversityHome University Seats Allotted to Home University Candidates\nGOPENHGSTHGNT3HGOBCHLOPENHLOBCH  I53599(50.1144239\n)85104(4.3687492)61988(34.6936263)61575(35.5300797)83835(6.6521585)  II50480(55.5640448)63546(32.2085268)StageOther Than Home University Seats Allotted to Other Than Home University Candidates\nGOPENOGSCOGOBCOLOPENOLOBCO  I64122(31.1950059)84393(5.6520354)72332(21.3574444)  II82345(9.1234982)81912(9.7959198)StageOther Than Home University Seats Allotted to Home University Candidates\nLOPENO  II53219(50.7401346)StageState LevelTFWS  I29228(83.2238581)Stage1Legends: Starting character G-General, L-Ladies, End character H-Home University, O-Other than Home University,S-State Level, AI- All India Seat. Maharashtra State Seats - Cut Off Indicates Maharashtra State General Merit No\n.; Figures in bracket Indicates Merit Percentile.'

In [7]:
a=pd.read_excel('college_cutoffs.xlsx')

In [8]:
b=pd.ExcelFile('college_cutoffs.xlsx')

In [9]:
sheet = b.sheet_names

In [10]:
p=sheet[1260]

In [11]:
a=pd.read_excel('college_cutoffs.xlsx',p)

In [12]:
p

'Table 1261'

In [13]:
csv = pd.read_csv('college_cutoffs.csv')

In [14]:
len(sheet)

1301

In [15]:
csv[658:700]

,D,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Government of Maharashtra,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
658,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,D,NaN,NaN,Government of Maharashtra,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,i,NaN,NaN,State Common Entrance Test Cell,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663,r,NaN,Cut Off List of Maharashtra State Candidature ...,CAP Round I for Admission to First Year of Fou...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664,NaN,NaN,NaN,Year 2019-20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,1105 - Prof. Ram Meghe Institute of Technology...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,110537220 - Electronics and Telecommunication ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,Status:,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,Home University Seats Allotted to Home Univers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,GOPENH,LOPENH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,I,78637,84236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
672,NaN,(14.4025695),(5.9283185),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
673,Other Than Home University Seats Allotted to O...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
674,NaN,GOPENO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
676,I,81473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,NaN,(10.4773940),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,Other Than Home University Seats Allotted to H...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
679,NaN,GOPENO,LOPENO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
681,I,67560,80254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
682,NaN,(26.3729062),(12.2191001),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Government of Maharashtra,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
687,i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,State Common Entrance Test Cell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688,r,NaN,Cut Off List of Maharashtra State Candidature ...,NaN,NaN,NaN,NaN,CAP Round I for Admission to First Year of Fou...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Year 2019-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,1105 - Prof. Ram Meghe Institute of Technology...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,110561210 - Mechanical Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692,Status:,Home University : Sant Gadge Baba Amravati Uni...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,Home University Seats Allotted to Home Univers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
694,NaN,GOPENH,GSCH,GSTH,GVJH,GNT1H,GNT2H,GNT3H,GOBCH,LOPENH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
696,I,37372,42605,80620,51470,53587,66586,39826,43004,55402,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697,NaN,(74.7597459),(67.9819384),(11.7128828),(53.7328998),(50.1321669),(27.5830479),(71.7046993),(67.3750570),(46.7885257),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698,II,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
csv.shape

(41327, 23)

In [17]:
csv_c = csv.copy()

In [18]:
print(csv_c.Index)

AttributeError: 'DataFrame' object has no attribute 'Index'

In [19]:
csv_c['Index']=pd.Index(list(range(41327)))

In [20]:
list(csv_c[csv_c['D']=='Status:']['Unnamed: 1','Unnamed: '])

KeyError: ('Unnamed: 1', 'Unnamed: ')

In [21]:
list(csv_c)

['D',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Government of Maharashtra',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Index']

In [22]:
csv_c=csv_c.dropna(axis=1,how='all')

In [23]:
csv_c=csv_c.dropna(axis=0,how='all')

In [24]:
list(csv_c['Unnamed: 14'].dropna())

['LOBCS',
 '11580',
 '(94.5663116)',
 'LNT2S',
 '15665',
 '(92.4491067)',
 'LOBCS',
 '8013',
 '(96.2881021)',
 'LNT3S',
 '25896',
 '(85.9830682)',
 'LNT2S',
 '20012',
 '(89.9973205)',
 'EWS',
 '57153',
 '(43.5611190)',
 'LNT2S',
 '21098',
 '(89.3267093)',
 'LSEBCH',
 '31420',
 '(81.1508296)',
 'LOBCH',
 '25418',
 '(86.3509628)',
 'LSEBCH',
 '56783',
 '(44.3421710)',
 'LNT2H',
 '47326',
 '(60.7898872)',
 'LSEBCH',
 '84059',
 '(6.2708661)',
 'LNT2H',
 '28259',
 '(84.0780545)',
 'LNT2H',
 '75426',
 '(18.1289514)',
 'LNT2S',
 '15935',
 '(92.3053526)',
 'LOBCS',
 '5427',
 '(97.4931744)',
 'LNT3S',
 '9335',
 '(95.6486316)',
 'EWS',
 '10673',
 '(95.0116959)',
 'LOBCS',
 '11527',
 '(94.5938312)',
 'LNT2S',
 '25639',
 '(86.1814995)',
 'LNT3S',
 '20568',
 '(89.6612907)',
 'LNT1S',
 '8746',
 '(95.9408472)',
 'LNT2S',
 '20759',
 '(89.5494014)',
 'PWDOPENS',
 '50543',
 '(55.4706227)',
 'LNT2S',
 '28713',
 '(83.6964000)',
 'TFWS',
 '9921',
 '(95.3694517)',
 'EWS',
 '35393',
 '(77.0587255)',
 'EWS',
 '62470',
 '(33.8966419)',
 'LNT2S',
 '21110',
 '(89.3205536)',
 'LOBCH',
 '59690',
 '(38.9193456)',
 'LOBCH',
 '32248',
 '(80.3589146)',
 'LSEBCH',
 '38361',
 '(73.4920302)',
 'LSEBCH',
 '81906',
 '(9.8085934)',
 '54601',
 '(48.1967367)',
 'LNT3S',
 '3974',
 '(98.1453184)',
 'LSEBCS',
 '1370',
 '(99.3159911)',
 'LOBCS',
 '1253',
 '(99.3732031)',
 'LNT2S',
 '7518',
 '(96.5209331)',
 'LNT2S',
 '5282',
 '(97.5616115)',
 'LSEBCS',
 '6307',
 '(97.0901559)',
 'LNT3S',
 '23340',
 '(87.8424571)',
 'LNT1S',
 '6034',
 '(97.2161671)',
 'LNT2S',
 '15682',
 '(92.4411405)',
 'LOBCS',
 '6743',
 '(96.8797752)',
 'LNT2S',
 '9875',
 '(95.3897294)',
 'LNT2S',
 '10050',
 '(95.3100671)',
 'DEFSCS',
 '22489',
 '(88.4272503)',
 'LOBCS',
 '14697',
 '(92.9817573)',
 'LOBCS',
 '18642',
 '(90.7943049)',
 'TFWS',
 '23120',
 '(87.9974363)',
 'LSEBCS',
 '67345',
 '(26.6285495)',
 'PWDOPENS',
 '29820',
 '(82.6944664)',
 'LSEBCS',
 '55073',
 '(47.3548518)',
 'DEFOPENS',
 '65134',
 '(29.6901139)',
 'LOBCS',
 '1322',
 '(99.3398898)',
 'EWS',
 '17053',
 '(91.6919534)',
 'LNT2H',
 '28916',
 '(83.5142632)',
 'PWDOPENH',
 '65345',
 '(29.3884837)',
 'LNT2H',
 '20481',
 '(89.7185026)',
 'LOBCH',
 '10224',
 '(95.2242492)',
 'PWDOPENH',
 '45235',
 '(63.9618925)',
 'PWDOPENH',
 '87017',
 '(0.4298140)',
 'LOBCH',
 '12675',
 '(94.0166422)',
 'LSEBCH',
 '70699',
 '(22.9760362)',
 'LOBCH',
 '28380',
 '(83.9581991)',
 'LOBCH',
 '22745',
 '(88.2559765)',
 'LOBCH',
 '27719',
 '(84.5419060)',
 'PWDOPENH',
 '22535',
 '(88.3982822)',
 'LOBCH',
 '32010',
 '(80.5874003)',
 'LSEBCH',
 '70463',
 '(23.2103155)',
 'LSEBCH',
 '36437',
 '(75.8359103)',
 'LOBCH',
 '23331',
 '(87.8529580)',
 'LSEBCH',
 '57928',
 '(42.1988949)',
 'LSEBCS',
 '2184',
 '(98.9509932)',
 'LSEBCS',
 '4204',
 '(98.0468269)',
 'LSEBCS',
 '7562',
 '(96.5006554)',
 'PWDOPENS',
 '60269',
 '(37.8326803)',
 'LSEBCH',
 '32986',
 '(79.6339883)',
 'LOBCH',
 '15191',
 '(92.7087332)',
 'LOBCH',
 '8481',
 '(96.0708415)',
 'LSEBCH',
 '82242',
 '(9.2958583)',
 'PWDOBCH',
 '32671',
 '(79.9529993)',
 'LNT1S',
 '25354',
 '(86.3929665)',
 'LSEBCS',
 '34810',
 '(77.7126801)',
 'LOBCS',
 '12293',
 '(94.2092799)',
 'LNT2S',
 '71429',
 '(22.2699391)',
 'LOBCS',
 '26920',
 '(85.2012920)',
 'LNT2S',
 '62244',
 '(34.2746754)',
 'LSEBCS',
 '34669',
 '(77.8636762)',
 'LNT2S',
 '10231',
 '(95.2209903)',
 'LOBCS',
 '21022',
 '(89.3712477)',
 'LOBCS',
 '21084',
 '(89.3372102)',
 'LSEBCS',
 '84385',
 '(5.6672436)',
 'LNT3S',
 '43653',
 '(66.3825380)',
 'LOBCH',
 '34184',
 '(78.3894469)',
 'LOBCH',
 '30084',
 '(82.4312189)',
 'LOBCH',
 '8987',
 '(95.8170086)',
 'LSEBCH',
 '63550',
 '(32.2005605)',
 'LSEBCH',
 '69901',
 '(23.7864183)',
 'LSEBCO',
 '43367',
 '(66.7927985)',
 'LOBCH',
 '31581',
 '(81.0088860)',
 'LNT2S',
 '61570',
 '(35.5387702)',
 '50199',
 '(56.0619338)',
 'LNT2S',
 '19663',
 '(90.1888719)',
 'TFWS',
 '8190',
 '(96.2059051)',
 'DEFOPENS',
 '39903',
 '(71.5931722)',
 'DEFOPENS',
 '64737',
 '(30.2727345)',
 'LSEBCH',
 '76101',
 '(17.3504342)',
 'LNT2H',
 '21815',
 '(88.8617715)',
 'LOBCH',
 '43308',
 '(66.8800649)',
 'LNT1H',
 '55747',
 '(46.1852654)',
 'LSEBCH',
 '15275',
 '(92.6645568)',
 'LSEBCH',
 '10652',
 '(95.0203863)',
 'PWDOPENH',
 '41185',
 '(69.9720458)',
 'LOBCS',
 '9683',
 '(95.4903935)',
 'LOBCS',
 '7115',
 '(96.7088635)',
 'LNT1S',
 '28332',
 '(84.0110658)',
 'LOBCS',
 '8243',
 '(96.1798339)',
 'LNT2S',
 '12200',
 '(94.2541805)',
 'LNT2S',
 '4914',
 '(97.7325232)',
 'LNT1S',
 '500',
 '(99.7186475)',
 'LNT3S',
 '3881',
 '(98.1862358)',
 'LNT2S',
 '3435',
 '(98.3846672)',
 'EWS',
 '3589',
 '(98.3173164)',
 'LNT1S',
 '2265',
 '(98.9151452)',
 'LNT1S',
 '8021',
 '(96.2848432)',
 'LNT3S',
 '12638',
 '(94.0347472)',
 'LNT2S',
 '8594',
 '(96.0136295)',
 'LNT1S',
 '8352',
 '(96.1244324)',
 'LNT3S',
 '8461',
 '(96.0784456)',
 'LNT3S',
 '9074',
 '(95.7753670)',
 'LSEBCS',
 '5979',
 '(97.2433247)',
 'LNT2S',
 '6189',
 '(97.1415743)',
 'LNT2S',
 '57642',
 '(42.6801272)',
 'TFWS',
 '5848',
 '(97.3045197)',
 'LOBCS',
 '18990',
 '(90.5922525)',
 'EWS',
 '81730',
 '(10.0870491)',
 'LNT2S',
 '72664',
 '(21.0529174)',
 'LNT3S',
 '43713',
 '(66.3097557)',
 'LOBCS',
 '19204',
 '(90.4742075)',
 'LNT2S',
 '8401',
 '(96.1023442)',
 'LSEBCS',
 '14569',
 '(93.0527292)',
 'LOBCS',
 '15808',
 '(92.3748760)',
 'LSEBCS',
 '29045',
 '(83.3915109)',
 'EWS',
 '79252',
 '(13.5990672)',
 'LNT2S',
 '29909',
 '(82.6039411)',
 'PWDOPENH',
 '85181',
 '(4.2018206)',
 'LNT2H',
 '9502',
 '(95.5707799)',
 'LSEBCH',
 '9819',
 '(95.4176111)',
 'LSEBCH',
 '25483',
 '(86.2980961)',
 'LSEBCH',
 '27094',
 '(85.0513821)',
 'LOBCO',
 '73201',
 '(20.5007133)',
 '29572',
 '(82.9160722)',
 'LOBCH',
 '21435',
 '(89.1235706)',
 'LSEBCH',
 '49225',
 '(57.6559026)',
 'LOBCH',
 '26190',
 '(85.7534961)',
 'LSEBCH',
 '53952',
 '(49.4162931)',
 'LOBCH',
 '33176',
 '(79.4504030)',
 'LOBCH',
 '16429',
 '(92.0428293)',
 'LSEBCO',
 '17046',
 '(91.6952123)',
 'LSEBCS',
 '23740',
 '(87.5437237)',
 'LSEBCS',
 '13684',
 '(93.5075281)',
 'EWS',
 '82405',
 '(9.0155921)',
 'EWS',
 '55255',
 '(47.0651709)',
 'LSEBCS',
 '45145',
 '(64.0965941)',
 'DEFOPENS',
 '62160',
 '(34.3909098)',
 'LOBCS',
 '16848',
 '(91.7994974)',
 'TFWS',
 '19005',
 '(90.5853726)',
 'TFWS',
 '20455',
 '(89.7347972)',
 'LOBCS',
 '24677',
 '(86.8926660)',
 'LSEBCS',
 '49682',
 '(56.9110607)',
 'EWS',
 '23091',
 '(88.0155414)',
 'LOBCS',
 '23808',
 '(87.4959264)',
 'LSEBCS',
 '31747',
 '(80.8488373)',
 'LOBCS',
 '48837',
 '(58.3446188)',
 'LNT3S',
 '67952',
 '(25.8728446)',
 'LSEBCH',
 '52496',
 '(51.9549836)',
 'LNT2H',
 '4742',
 '(97.8110991)',
 'PWDNT3H',
 '35667',
 '(76.7324725)',
 'LNT2H',
 '7140',
 '(96.6969142)',
 'LSEBCO',
 '3882',
 '(98.1858737)',
 'LNT3H',
 '4402',
 '(97.9570258)',
 'LSEBCH',
 '68340',
 '(25.4662051)',
 'LOBCH',
 '13613',
 '(93.5455487)',
 'LNT1S',
 '2483',
 '(98.8144811)',
 'LOBCS',
 '2560',
 '(98.7811678)',
 'PWDOPENS',
 '60336',
 '(37.7421551)',
 'LNT2S',
 '7969',
 '(96.3091039)',
 'LOBCS',
 '7541',
 '(96.5100700)',
 'LNT3S',
 '27313',
 '(84.8739526)',
 'LNT1S',
 '12619',
 '(94.0448860)',
 'TFWS',
 '19495',
 '(90.2985885)',
 'TFWS',
 '6963',
 '(96.7816458)',
 'LNT2S',
 '10941',
 '(94.8864089)',
 'PWDOPENS',
 '56518',
 '(44.7900900)',
 'LSEBCH',
 '60434',
 '(37.5904347)',
 'LNT3H',
 '25912',
 '(85.9740156)',
 'LOBCH',
 '45798',
 '(63.1091445)',
 'LSEBCS',
 '27903',
 '(84.3854783)',
 'LOBCS',
 '45683',
 '(63.2568817)',
 'LOBCS',
 '72067',
 '(21.6268476)',
 'TFWS',
 '27944',
 '(84.3528892)',
 'LNT1S',
 '41333',
 '(69.7681829)',
 'LNT1S',
 '17382',
 '(91.5040229)',
 'LSEBCS',
 '9394',
 '(95.6211119)',
 'LNT1S',
 '19134',
 '(90.5172976)',
 'LNT3S',
 '22770',
 '(88.2349746)',
 'LNT2S',
 '50410',
 '(55.6625363)',
 'DEFOPENS',
 '13450',
 '(93.6262972)',
 'LNT3H',
 '19048',
 '(90.5632844)']

In [25]:
csv_c.shape

(41327, 24)

In [26]:
for i in list(csv_c):
    ii = list(csv_c[i])
    print (ii)
    for j in ii:
        print (type(j))
        """if j.find('Home')>0:
            print (i,j)
            break
    """
        break

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [27]:
a='sdjklbfoashdof51468465'

In [28]:
a.find('9')

-1

In [50]:
c=0
for i in list(csv_c['Unnamed: 4'].dropna(how="all")):
    if i.find('Savitri')>=0:
        print(i)
        c=c+1
print (c)

Home University : Savitribai Phule Pune University
Home University : Savitribai Phule Pune University
Home University : Savitribai Phule Pune University
Home University : Savitribai Phule Pune University
Home University : Savitribai Phule Pune University
5

In [36]:
list(csv_c['Unnamed: 2'].dropna(how="all"))

['Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCS',
 '16599',
 '(91.9454241)',
 'GSCS',
 '9987',
 '(95.3361384)',
 'GSCS',
 '14928',
 '(92.8495905)',
 'GSCS',
 '14941',
 '(92.8412621)',
 'GSCS',
 '18302',
 '(90.9854942)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCS',
 '25951',
 '(85.9439612)',
 'GSCS',
 '14267',
 '(93.2066221)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '23289',
 '(87.8844608)',
 'GSTO',
 '62928',
 '(33.1177625)',
 'TFWS',
 '16610',
 '(91.9392684)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GOBCH',
 '32070',
 '(80.5352578)',
 'GSEBCH',
 '40426',
 '(70.9167675)',
 'GVJO',
 '64493',
 '(30.6750288)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '61102',
 '(36.2705764)',
 'LOBCO',
 '40286',
 '(71.0992664)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '42878',
 '(67.5705916)',
 'GSCO',
 '43470',
 '(66.6508549)',
 'TFWS',
 '10365',
 '(95.1619678)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Home University : Dr. Babasaheb Ambedkar Technological University,Lonere',
 'GSCH',
 '24430',
 '(87.0751649)',
 'GSTO',
 '32721',
 '(79.9044777)',
 'EWS',
 '46279',
 '(62.4294808)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Home University : Dr. Babasaheb Ambedkar Technological University,Lonere',
 'GSCH',
 '24420',
 '(87.0838554)',
 'LSTH',
 '57110',
 '(43.6664904)',
 'GSCO',
 '11584',
 '(94.5645011)',
 'EWS',
 '28644',
 '(83.7485425)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Home University : Dr. Babasaheb Ambedkar Technological University,Lonere',
 'GSCH',
 '24667',
 '(86.9017185)',
 'GSCO',
 '22632',
 '(88.3356387)',
 'EWS',
 '59094',
 '(40.0447557)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Home University : Dr. Babasaheb Ambedkar Technological University,Lonere',
 'GSCH',
 '34377',
 '(78.1776178)',
 'GSEBCH',
 '41381',
 '(69.7030047)',
 'GSCO',
 '25636',
 '(86.1814995)',
 'EWS',
 '71233',
 '(22.4404887)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Home University : Dr. Babasaheb Ambedkar Technological University,Lonere',
 'GSCH',
 '28386',
 '(83.9520433)',
 'GSCO',
 '21616',
 '(89.0058878)',
 'EWS',
 '85514',
 '(3.5855246)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '25422',
 '(86.3444450)',
 'GSCO',
 '14841',
 '(92.8963015)',
 'TFWS',
 '9344',
 '(95.6446485)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '32360',
 '(80.2477495)',
 'GSCO',
 '38344',
 '(73.5162909)',
 'EWS',
 '65385',
 '(29.3312718)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '39975',
 '(71.4863524)',
 'GSCO',
 '34432',
 '(78.1171469)',
 'EWS',
 '68625',
 '(25.1229333)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '53363',
 '(50.5304780)',
 'LVJH',
 '48914',
 '(58.2196940)',
 'GSCO',
 '53013',
 '(51.0319880)',
 'LSEBCO',
 '54644',
 '(48.1645098)',
 'TFWS',
 '20143',
 '(89.9216413)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '30083',
 '(82.4312189)',
 'LSTH',
 '72151',
 '(21.5518927)',
 'GNT1O',
 '32277',
 '(80.3324812)',
 'DEFSCS',
 '84534',
 '(5.4097898)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '43335',
 '(66.8366128)',
 'GSCO',
 '60022',
 '(38.3124642)',
 'LNT1O',
 '66049',
 '(28.3329592)',
 'EWS',
 '70991',
 '(22.6946836)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '48510',
 '(58.9199974)',
 'GSCO',
 '77256',
 '(16.0638891)',
 'GNT2O',
 '59782',
 '(38.7462613)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '33403',
 '(79.2132268)',
 'GSCO',
 '41616',
 '(69.3166429)',
 'LSEBCO',
 '41583',
 '(69.3658886)',
 'EWS',
 '81419',
 '(10.5447448)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '37497',
 '(74.6087498)',
 'GSCO',
 '44894',
 '(64.4992505)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '64514',
 '(30.6315767)',
 'GSCO',
 '81743',
 '(10.0649609)',
 'GNT1O',
 '66671',
 '(27.4602956)',
 'TFWS',
 '20590',
 '(89.6493413)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '86362',
 '(1.9046516)',
 'LOPENO',
 '73130',
 '(20.5680641)',
 'GOBCO',
 '76447',
 '(16.9608134)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '84236',
 '(5.9283185)',
 'LOPENO',
 '80254',
 '(12.2191001)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '42605',
 '(67.9819384)',
 'GSCO',
 '66381',
 '(27.8213104)',
 'LOPENO',
 '24299',
 '(87.1722080)',
 'TFWS',
 '28903',
 '(83.5272988)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '67588',
 '(26.3312645)',
 'GOBCO',
 '68687',
 '(25.0487026)',
 'LOPENO',
 '38766',
 '(73.0155052)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '52942',
 '(51.1362731)',
 'GNT2O',
 '50868',
 '(54.8883642)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '49010',
 '(58.0473338)',
 'GSCO',
 '67831',
 '(26.0097188)',
 'GNT2O',
 '82802',
 '(8.4003824)',
 'TFWS',
 '22597',
 '(88.3598995)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '77446',
 '(15.8676303)',
 'LOPENO',
 '81519',
 '(10.4129400)',
 'GOBCO',
 '63985',
 '(31.4611502)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '85478',
 '(3.6517891)',
 'LOPENO',
 '40283',
 '(71.0992664)',
 'GSCO',
 '86126',
 '(2.3753829)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '86995',
 '(0.4866638)',
 'GOBCO',
 '86067',
 '(2.4840132)',
 'TFWS',
 '42629',
 '(67.9493493)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '48575',
 '(58.8023145)',
 'GOBCO',
 '51731',
 '(53.3324160)',
 'GNT1O',
 '59692',
 '(38.9178972)',
 'EWS',
 '67322',
 '(26.6506377)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '43443',
 '(66.6888755)',
 'GSCO',
 '51024',
 '(54.6377903)',
 'LNT2O',
 '50980',
 '(54.7018822)',
 'EWS',
 '81223',
 '(10.8394951)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '62807',
 '(33.2897605)',
 'GSCO',
 '81020',
 '(11.1440221)',
 'GNT1O',
 '74925',
 '(18.7224351)',
 'EWS',
 '51827',
 '(53.1517276)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '80362',
 '(12.0561546)',
 'LOPENO',
 '49686',
 '(56.9110607)',
 'GSCO',
 '81436',
 '(10.5313471)',
 'TFWS',
 '30226',
 '(82.3225886)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '46969',
 '(61.3171064)',
 'GOBCO',
 '78444',
 '(14.6513329)',
 'LOPENO',
 '72882',
 '(20.8240696)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '54570',
 '(48.2557592)',
 'LOPENO',
 '61908',
 '(34.8667106)',
 'GSCO',
 '58055',
 '(42.0015498)',
 'TFWS',
 '30444',
 '(82.1227088)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '64414',
 '(30.7746066)',
 'GSCO',
 '73424',
 '(20.2881600)',
 'GNT1O',
 '79712',
 '(13.0070320)',
 'EWS',
 '39867',
 '(71.6438664)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '47120',
 '(61.0994836)',
 'GSCO',
 '28561',
 '(83.8177038)',
 'EWS',
 '32860',
 '(79.7585510)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '86481',
 '(1.6080908)',
 'GNT2O',
 '52594',
 '(51.7706742)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '86814',
 '(0.9526879)',
 'GOBCO',
 '70338',
 '(23.3359646)',
 'TFWS',
 '55666',
 '(46.3645054)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '62683',
 '(33.5685783)',
 'GOBCO',
 '80159',
 '(12.3690099)',
 'GVJO',
 '40942',
 '(70.2888842)',
 'TFWS',
 '40561',
 '(70.7425968)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '65881',
 '(28.5741185)',
 'LOPENO',
 '36614',
 '(75.6092350)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '19356',
 '(90.3822339)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '68170',
 '(25.6400136)',
 'GVJO',
 '75177',
 '(18.4265985)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '45121',
 '(64.1389599)',
 'GOBCO',
 '68026',
 '(25.7714563)',
 'LVJO',
 '46900',
 '(61.4344271)',
 'TFWS',
 '22760',
 '(88.2396819)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '49916',
 '(56.4935582)',
 'GSCO',
 '54393',
 '(48.5548547)',
 'LSCO',
 '38402',
 '(73.4348182)',
 'TFWS',
 '23550',
 '(87.6892883)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '55764',
 '(46.1606425)',
 'GOBCO',
 '63840',
 '(31.7164314)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '60001',
 '(38.3526575)',
 'GSCO',
 '62137',
 '(34.4368966)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '70300',
 '(23.3736231)',
 'GOBCO',
 '61953',
 '(34.7490278)',
 'GNT1O',
 '59706',
 '(38.8936364)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '40762',
 '(70.5025238)',
 'LOPENO',
 '61350',
 '(35.8519876)',
 'TFWS',
 '36730',
 '(75.4806892)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '26971',
 '(85.1629093)',
 'LOPENO',
 '38418',
 '(73.4159889)',
 'TFWS',
 '21651',
 '(88.9798165)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '55499',
 '(46.6400643)',
 'LOPENO',
 '65944',
 '(28.4893868)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '55949',
 '(45.7898510)',
 'LOPENO',
 '49655',
 '(56.9610307)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '50571',
 '(55.4213770)',
 'LOPENO',
 '20034',
 '(89.9810259)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '86521',
 '(1.5345843)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '81880',
 '(9.8390099)',
 'LOPENO',
 '56444',
 '(44.9258779)',
 'TFWS',
 '32588',
 '(80.0257816)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '71138',
 '(22.5444117)',
 'GNT1O',
 '80952',
 '(11.2312884)',
 'TFWS',
 '24560',
 '(86.9889849)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '60786',
 '(36.8636979)',
 'GOBCO',
 '77499',
 '(15.8111426)',
 'TFWS',
 '28118',
 '(84.2131182)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '74351',
 '(19.3148324)',
 'LOPENO',
 '68083',
 '(25.7323494)',
 'LOPENH',
 '74047',
 '(19.6117552)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GOBCH',
 '85678',
 '(3.2295793)',
 'LOPENO',
 '38715',
 '(73.0709066)',
 '64977',
 '(29.8863727)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GOBCH',
 '64481',
 '(30.6956685)',
 'GOBCO',
 '65222',
 '(29.5423767)',
 'LOPENH',
 '86753',
 '(1.0765264)',
 'LOPENO',
 '61213',
 '(36.0790249)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '67730',
 '(26.1599907)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '59109',
 '(40.0237538)',
 'LOPENO',
 '22846',
 '(88.1748658)',
 'LOPENH',
 '55741',
 '(46.2001115)',
 'LSCO',
 '76872',
 '(16.5121702)',
 'Government of Maharashtra',
 'State Common Entrance Test Cell',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Year 2019-20',
 '1',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '62969',
 '(33.0366519)',
 'LOPENO',
 '63344',
 '(32.4721363)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '57041',
 '(43.8182108)',
 'LOPENO',
 '32214',
 '(80.3795543)',
 'TFWS',
 '52705',
 '(51.5653629)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '86875',
 '(0.7767068)',
 '81024',
 '(11.1393148)',
 'LOPENO',
 '49539',
 '(57.1887922)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '61813',
 '(35.0242246)',
 'LOPENO',
 '86152',
 '(2.3380865)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '58537',
 '(41.0358263)',
 'LOPENO',
 '80270',
 '(12.1904941)',
 'GSCO',
 '61857',
 '(34.9369582)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '48903',
 '(58.2363506)',
 'GSCO',
 '50610',
 '(55.3493189)',
 'TFWS',
 '34256',
 '(78.3141299)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '54399',
 '(48.5443538)',
 'GOBCO',
 '63328',
 '(32.4862583)',
 'GOBCO',
 '85494',
 '(3.6289768)',
 'GOBCH',
 '50513',
 '(55.5227653)',
 'GOBCO',
 '57949',
 '(42.1746341)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '86981',
 '(0.5503936)',
 'GSCO',
 '73857',
 '(19.8395168)',
 'GOBCO',
 '80055',
 '(12.5149367)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '69639',
 '(24.0163525)',
 'LOPENO',
 '73877',
 '(19.8109108)',
 'GSCO',
 '83753',
 '(6.7734623)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '48732',
 '(58.5014086)',
 'GSCO',
 '82845',
 '(8.3279622)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '71491',
 '(22.2141755)',
 'GSCO',
 '72527',
 '(21.1684277)',
 'LOPENO',
 '66029',
 '(28.3579441)',
 'TFWS',
 '32810',
 '(79.8049000)',
 'LOPENH',
 '83823',
 '(6.6785919)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '39671',
 '(71.9150801)',
 'LOBCO',
 '58150',
 '(41.8335349)',
 'LOPENH',
 '59383',
 '(39.5334690)',
 'Government of Maharashtra',
 'State Common Entrance Test Cell',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Year 2019-20',
 '1',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GNT1H',
 '57329',
 '(43.2163988)',
 'GOBCO',
 '58085',
 '(41.9570114)',
 'TFWS',
 '48532',
 '(58.8816147)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '58625',
 '(40.8924343)',
 'GNT3O',
 '49096',
 '(57.8876473)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '53540',
 '(50.2197953)',
 'GSCO',
 '61825',
 '(34.9869282)',
 'EWS',
 '37791',
 '(74.2184049)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '82142',
 '(9.4649595)',
 'LOPENO',
 '48042',
 '(59.7014115)',
 'TFWS',
 '39663',
 '(71.9252189)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GOBCH',
 '87147',
 '(0.0774896)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSTH',
 '83846',
 '(6.6336913)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '55559',
 '(46.5618505)',
 'LOBCO',
 '55363',
 '(46.8620323)',
 'Government of Maharashtra',
 'State Common Entrance Test Cell',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Year 2019-20',
 '1',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Kolte College of Engineering, Malkapur, Buldhana',
 'LOPENH',
 '61780',
 '(35.0597105)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Kolte College of Engineering, Malkapur, Buldhana',
 'GNT3H',
 '79544',
 '(13.2130675)',
 'GOBCO',
 '60881',
 '(36.6685255)',
 'LOBCO',
 '51037',
 '(54.6102706)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Kolte College of Engineering, Malkapur, Buldhana',
 'GSCH',
 '83092',
 '(7.9028555)',
 'GSCO',
 '81974',
 '(9.7122745)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Kolte College of Engineering, Malkapur, Buldhana',
 'GSCH',
 '63703',
 '(31.9347784)',
 'LOPENO',
 '56665',
 '(44.5594316)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '49784',
 '(56.7354417)',
 'LOPENO',
 '69632',
 '(24.0225082)',
 'GOBCO',
 '52783',
 '(51.4172635)',
 'TFWS',
 '29186',
 '(83.2593440)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '51609',
 '(53.5409862)',
 'GOBCO',
 '68670',
 '(25.0635487)',
 'LSEBCO',
 '63268',
 '(32.5930781)',
 'EWS',
 '74948',
 '(18.6905702)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GOBCH',
 '85513',
 '(3.5855246)',
 'LOPENO',
 '46014',
 '(62.8375687)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '82158',
 '(9.4435955)',
 'LOPENO',
 '42905',
 '(67.5303984)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '55050',
 '(47.3896135)',
 'GOBCO',
 '75814',
 '(17.6908092)',
 'LOPENO',
 '33149',
 '(79.4764743)',
 '58094',
 '(41.9331127)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GOBCH',
 '76898',
 '(16.4737875)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '54397',
 '(48.5523200)',
 'LOBCO',
 '84368',
 '(5.6987464)',
 'LOPENH',
 '59463',
 '(39.3353997)',
 'Government of Maharashtra',
 'State Common Entrance Test Cell',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Year 2019-20',
 '1',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'LOPENH',
 '58676',
 '(40.7950291)',
 'LOPENO',
 '43914',
 '(66.0341968)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCH',
 '63299',
 '(32.5315209)',
 'GNT2O',
 '55862',
 '(45.9234663)',
 'Government of Maharashtra',
 'State Common Entrance Test Cell',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'Year 2019-20',
 '444302',
 '1',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCS',
 '15369',
 '(92.6120522)',
 'GSCS',
 '10109',
 '(95.2821854)',
 'GSCS',
 '14857',
 '(92.8879732)',
 'GSCS',
 '12216',
 '(94.2454900)',
 'GSCS',
 '17953',
 '(91.1752352)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCS',
 '14376',
 '(93.1519448)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCS',
 '18152',
 '(91.0629839)',
 'GSCS',
 '12034',
 '(94.3327564)',
 'GSCS',
 '17509',
 '(91.4305164)',
 'GSCS',
 '15915',
 '(92.3180261)',
 'GSCS',
 '23639',
 '(87.6251964)',
 'Cut Off List of Maharashtra State Candidature Candidates of',
 'GSCS',
 '27025',
 '(85.1147498)',
 'GSCS',
 '16813',
 ...]

In [56]:
csv_c[csv_c['Unnamed: 1']=='Home University : Savitribai Phule Pune University' ]

,D,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Government of Maharashtra,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Index
20880,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20880
20917,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20917
20947,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20947
20977,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20977
21007,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40878,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40878
40907,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40907
40939,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40939
40966,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40966
40998,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40998

In [81]:

pd.set_option('display.max_columns', None)
csv_c[20880:20900].dropna(how='all')

,D,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Government of Maharashtra,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Index
20880,Status:,Home University : Savitribai Phule Pune Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20880
20881,Home University Seats Allotted to Home Univers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20881
20882,NaN,GOPENH,GSCH,GSTH,GVJH,GOBCH,LOPENH,LSCH,LNT1H,LOBCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20882
20883,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20883
20884,I,38617,80456,40664,80628,41417,28577,NaN,59291,34797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20884
20885,NaN,(73.1965557),(11.9359371),(70.6133268),(11.7067271),(69.6457927),(83.8082892),NaN,(39.7203131),(77.7293367),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20885
20886,II,NaN,NaN,NaN,NaN,NaN,NaN,81158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20886
20887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(10.9426939),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20887
20888,Home University Seats Allotted to Other Than H...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20888
20889,NaN,GNT2H,GSEBCH,LNT2H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20889
20890,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20890
20891,I,46672,78350,37932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20891
20892,NaN,(61.8236858),(14.7701020),(74.0496658),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20892
20893,Other Than Home University Seats Allotted to O...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20893
20894,NaN,GOPENO,GSCO,GVJO,GOBCO,GSEBCO,LOPENO,LOBCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20894
20895,Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20895
20896,I,34493,37350,51412,48562,42432,32434,35520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20896
20897,NaN,(78.0447267),(74.7919729),(53.8465995),(58.8287479),(68.2042684),(80.1727946),(76.9001253),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20897
20898,Other Than Home University Seats Allotted to H...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20898
20899,NaN,LSCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20899

In [82]:
csv_c['D'].unique

<bound method Series.unique of 0                                                        i
1                                                        r
2                                                      NaN
3        1002 - Government College of Engineering, Amra...
4                            100219110 - Civil Engineering
                               ...
41322                                                    I
41323                                                  NaN
41324    Legends: Starting character G-General, L-Ladie...
41325    . Maharashtra State Seats - Cut Off Indicates ...
41326                                                  NaN
Name: D, Length: 41327, dtype: object>

In [321]:
xl = pd.read_excel('college_cutoffs.xlsx',sheet_name = 'Table 2')

In [322]:
a = xl[list(xl)[0]].dropna()

In [323]:
a.shape

(5,)

In [324]:
b=list(a)
print (b)

['I', '100261210 - Mechanical Engineering\nStatus:    Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level', 'I', 'Legends: Starting character G-General, L-Ladies, End character H-Home University, O-Other than Home University,S-State Level, AI- All India Seat\n. Maharashtra State Seats - Cut Off Indicates Maharashtra State General Merit No.; Figures in bracket Indicates Merit Percentile.', '1005 - Sant Gadge Baba Amravati University,Amravati\n100550310 - Food Technology\nStatus:    University Department Home University : Sant Gadge Baba Amravati University\nHome University Seats Allotted to Home University Candidates']

In [325]:
b[-1]

'1005 - Sant Gadge Baba Amravati University,Amravati\n100550310 - Food Technology\nStatus:    University Department Home University : Sant Gadge Baba Amravati University\nHome University Seats Allotted to Home University Candidates'

In [326]:
b

['I',
 '100261210 - Mechanical Engineering\nStatus:    Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level',
 'I',
 'Legends: Starting character G-General, L-Ladies, End character H-Home University, O-Other than Home University,S-State Level, AI- All India Seat\n. Maharashtra State Seats - Cut Off Indicates Maharashtra State General Merit No.; Figures in bracket Indicates Merit Percentile.',
 '1005 - Sant Gadge Baba Amravati University,Amravati\n100550310 - Food Technology\nStatus:    University Department Home University : Sant Gadge Baba Amravati University\nHome University Seats Allotted to Home University Candidates']

In [327]:
xl

,Unnamed: 0,GOPENS,GSCS,GSTS,GNT2S,GOBCS,GSEBCS,LOPENS,LSCS,LSTS,LNT1S,LNT2S,LOBCS,LSEBCS,EWS,TFWS,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,I,13660\n(93.5194774),25951\n(85.9439612),54048\n(49.2624002),22245\n(88.5891094),16212\n(92.1547185),29954\n(82.5517986),14218\n(93.2348660),25812\n(86.0540400),37498\n(74.6087498),22274\n(88.5735391),31875\n(80.7275334),15197\n(92.7054742),37467\n(74.6601682),57153\n(43.5611190),11071\n(94.8226791),NaN,NaN,NaN,NaN,NaN,NaN
1,100261210 - Mechanical Engineering\nStatus: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,GOPENS,GSCS,GSTS,GVJS,GNT1S,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,LSCS,LSTS,LVJS,LNT2S,LOBCS,LSEBCS,PWDOPENS,PWDOBCS,EWS,TFWS,NaN
3,I,7194\n(96.6722913),14267\n(93.2066221),33295\n(79.3171498),13821\n(93.4332974),9776\n(95.4418719),14168\n(93.2587647),13239\n(93.7291339),8849\n(95.8901530),11544\n(94.5847787),11926\n(94.3903305),18357\n(90.9543535),85591\n(3.4135266),14226\n(93.2290724),21098\n(89.3267093),12158\n(94.2751823),16089\n(92.2209830),48224\n(59.4026781),30470\n(82.1002585),23834\n(87.4789076),5197\n(97.6014426),NaN
4,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"1005 - Sant Gadge Baba Amravati University,Amr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [328]:
xl.shape

(7, 22)

In [329]:
b[0]=b[-1]

In [330]:
b=b[:-2]
b

['1005 - Sant Gadge Baba Amravati University,Amravati\n100550310 - Food Technology\nStatus:    University Department Home University : Sant Gadge Baba Amravati University\nHome University Seats Allotted to Home University Candidates',
 '100261210 - Mechanical Engineering\nStatus:    Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level',
 'I']

In [335]:
ree

['1005 - Sant Gadge Baba Amravati University,Amravati\n',
 '310 - Food Technology\nStatus:    University Department Home University : Sant Gadge Baba Amravati University\nHome University Seats Allotted to Home University Candidates\n',
 '210 - Mechanical Engineering\nStatus:    Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level\n']

In [332]:
st = ''
for i in range(0,len(b)):
    if (b[i] != 'I') and (b[i]!='II'):
        
        st = st + b[i] +'\n'

In [184]:
st = st.split('\n')

In [162]:
df = pd.DataFrame()

In [333]:
st

'1005 - Sant Gadge Baba Amravati University,Amravati\n100550310 - Food Technology\nStatus:    University Department Home University : Sant Gadge Baba Amravati University\nHome University Seats Allotted to Home University Candidates\n100261210 - Mechanical Engineering\nStatus:    Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level\n'

In [187]:
import re

In [334]:
ree = re.split(r'[0-9]{6}',st)

In [261]:
df = tb.read_pdf("college_cutoffs.pdf", pages='861')
cname = ree[0]
k = ree[1:]

for i in k:
    #print (i)
    j=i[:-2]
    j=j.split('\n')
    branch = j[0]
    univ = j[1][j[1].find('University :')+len('University :'):]
    print (branch , univ)

310 - Electrical Engineering  Savitribai Phule Pune University
610 - Information Technology  Savitribai Phule Pune University

In [254]:
ree[1].split('\n')[2:-1]

['Home University Seats Allotted to Home University Candidates',
 'Other Than Home University Seats Allotted to Other Than Home University Candidates',
 'State Level']

In [221]:
k=pd.DataFrame()

In [216]:
k[[1,2,3]]=[[7,8,9]]

In [252]:
ree[1]

'310 - Electrical Engineering\nStatus:    Home University : Savitribai Phule Pune University\nHome University Seats Allotted to Home University Candidates\nOther Than Home University Seats Allotted to Other Than Home University Candidates\nState Level\n'

In [229]:
import tabula as tb
df = tb.read_pdf("college_cutoffs.pdf", pages='861')

In [230]:
len(df)

6

In [232]:
qw=df[0]
wq=df[1]

In [243]:
qw

,Unnamed: 0,Unnamed: 1,GOPENH,GSCH,GVJH,GNT1H,GNT2H,GOBCH,GSEBCH,LOPENH,LSCH,LVJH,LNT3H,LOBCH,arpit
0,I,NaN,20007\r(89.9991310),40150\r(71.2625740),52402\r(52.0918578),54748\r(47.9646300),25750\r(86.1032857),25882\r(85.9939312),33435\r(79.1737578),19785\r(90.1175380),33329\r(79.2802155),48378\r(59.1466727),19808\r(90.1066750),21036\r(89.3629194),45

In [242]:
qw['arpit']=45

In [397]:
def data (pg):
    table_name = 'Table '+str(pg)
    page_name = str(pg)
    xl = pd.read_excel('college_cutoffs.xlsx',sheet_name = table_name)
    a = xl[list(xl)[0]].dropna()
    b=list(a)
    b[0]=b[-1]
    b=b[:-2]
    st = ''
    for i in range(0,len(b[:])):
        if (b[i] != 'I') and (b[i]!='II'):
            st = st + b[i] +'\n'
    
    ree = re.split(r'[0-9]{9}',st)
    return ree

In [368]:
sn=data(81)
sn

['1148 - P. R. Pote Patil Institute of Engineering & Research, At  Kathora, Amravati\n',
 '210 - Mechanical Engineering\nStatus:    Home University : Sant Gadge Baba Amravati University\nHome University Seats Allotted to Home University Candidates\nOther Than Home University Seats Allotted to Other Than Home University Candidates\nOther Than Home University Seats Allotted to Home University Candidates\nState Level\n']

In [367]:
s= data(82)
s

['1180 - Sanmati Engineering College, Sawargaon Barde, Washim\n',
 '110 - Civil Engineering\nStatus:    Home University : Sant Gadge Baba Amravati University\nHome University Seats Allotted to Home University Candidates\nOther Than Home University Seats Allotted to Other Than Home University Candidates\nOther Than Home University Seats Allotted to Home University Candidates\n']

In [372]:
s[1].split('\n')[:3]

['110 - Civil Engineering',
 'Status:    Home University : Sant Gadge Baba Amravati University',
 'Home University Seats Allotted to Home University Candidates',
 'Other Than Home University Seats Allotted to Other Than Home University Candidates',
 'Other Than Home University Seats Allotted to Home University Candidates',
 '']

In [354]:
n_val = s[1].split('\n')[:3]

In [352]:
s[1][0:3]

'110'

In [355]:
s

['1148 - P. R. Pote Patil Institute of Engineering & Research, At  Kathora, Amravati\n',
 '110 - Civil Engineering\nStatus:    Home University : Sant Gadge Baba Amravati University\nHome University Seats Allotted to Home University Candidates\nHome University Seats Allotted to Other Than Home University Candidates\nOther Than Home University Seats Allotted to Other Than Home University Candidates\nState Level\n',
 '210 - Computer Science and Engineering\nStatus:    Home University : Sant Gadge Baba Amravati University\nHome University Seats Allotted to Home University Candidates\n']

In [356]:
a=[1,2,3,4,4]

In [360]:
a.insert(0,8)

In [370]:
a[1]=5
a

[8, 5, 2, 3, 4, 4, 0]

In [495]:
dftotal = pd.DataFrame()
for i in range ():
    tables = tb.read_pdf("college_cutoffs.pdf", pages=str(i))
    count = 0
    current = data(i)
    past = data(i-1)
    sos = current
    pop = past
    
    sos[0]=pop[0]
    ass = pop[1].split('\n')[:3]
    new = sos[1].split('\n')[3:]
    new = ass + new
    new = '\n'.join(new)
    sos[1]=new
    
    c_name = sos[0]
    for k in sos[1:] :
        ko = k.split('\n')
        branch = ko[0][3:]
        status = ko[1][7:ko[1].find('Home')]
        if not status.isalpha():
            status = np.nan
        home_univ = ko[1][ko[1].find('Home University : ')+len('Home University : '):]
        
        for l in ko[2:-1]:
            df = tables[count]
            df['CName']=c_name
            df['Branch'] = branch
            df['Status'] = status 
            df['Home_Univ']= home_univ
            df['Seat_cat']=l
            count=count+1
            print (c_name , branch)
            dftotal = dftotal.append(df)
    print (i,'............')

2021 - University Department of Chemical Technology, Aurangabad
 Food Technology
2021 - University Department of Chemical Technology, Aurangabad
 Food Technology
2021 - University Department of Chemical Technology, Aurangabad
 Food Technology
2021 - University Department of Chemical Technology, Aurangabad
 Food Technology
106 ............
2021 - University Department of Chemical Technology, Aurangabad
 Pharmaceutical and Fine Chemical Technology
2021 - University Department of Chemical Technology, Aurangabad
 Pharmaceutical and Fine Chemical Technology
2021 - University Department of Chemical Technology, Aurangabad
 Pharmaceutical and Fine Chemical Technology
107 ............
2111 - Everest Education Society, Group of Institutions (Integrated Campus), Ohar
 Civil Engineering
2111 - Everest Education Society, Group of Institutions (Integrated Campus), Ohar
 Civil Engineering
2111 - Everest Education Society, Group of Institutions (Integrated Campus), Ohar
 Civil Engineering
2111 - Everest Education Society, Group of Institutions (Integrated Campus), Ohar
 Civil Engineering
108 ............
2111 - Everest Education Society, Group of Institutions (Integrated Campus), Ohar
 Computer Science and Engineering
2111 - Everest Education Society, Group of Institutions (Integrated Campus), Ohar
 Computer Science and Engineering
2111 - Everest Education Society, Group of Institutions (Integrated Campus), Ohar
 Computer Science and Engineering
2111 - Everest Education Society, Group of Institutions (Integrated Campus), Ohar
 Computer Science and Engineering
109 ............

In [498]:
dftotal

,Unnamed: 0,Unnamed: 1,GOPENH,GOBCH,GSEBCH,CName,Branch,Status,Home_Univ,Seat_cat,LSCH,PWDOPENH,GOPENO,GNT1O,LSEBCO,EWS,TFWS,GSCH,GNT1H,LOBCH,GSCO,GOBCO,LOPENO,LOPENH,MI
0,I,NaN,18077\r(91.1046255),30462\r(82.1053280),20571\r(89.6598423),2021 - University Department of Chemical Techn...,Food Technology,NaN,Dr. Babasaheb Ambedkar Marathwada University,Home University Seats Allotted to Home Univers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,I,NaN,NaN,NaN,NaN,2021 - University Department of Chemical Techn...,Food Technology,NaN,Dr. Babasaheb Ambedkar Marathwada University,Home University Seats Allotted to Other Than H...,23997\r(87.3731741),40851\r(70.4011355),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,I,NaN,NaN,NaN,NaN,2021 - University Department of Chemical Techn...,Food Technology,NaN,Dr. Babasaheb Ambedkar Marathwada University,Other Than Home University Seats Allotted to O...,NaN,NaN,10493\r(95.1000485),49888\r(56.5395451),33055\r(79.5767763),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,I,NaN,NaN,NaN,NaN,2021 - University Department of Chemical Techn...,Food Technology,NaN,Dr. Babasaheb Ambedkar Marathwada University,State Level,NaN,NaN,NaN,NaN,NaN,18023\r(91.1306968),15838\r(92.3607540),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,I,NaN,9281\r(95.6772376),78843\r(14.1295453),41586\r(69.3593708),2021 - University Department of Chemical Techn...,Pharmaceutical and Fine Chemical Technology,NaN,Dr. Babasaheb Ambedkar Marathwada University,Home University Seats Allotted to Home Univers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37965\r(74.0094726),41454\r(69.5806146),40199\r(71.2028273),NaN,NaN,NaN,NaN,NaN
0,I,NaN,NaN,NaN,NaN,2021 - University Department of Chemical Techn...,Pharmaceutical and Fine Chemical Technology,NaN,Dr. Babasaheb Ambedkar Marathwada University,Other Than Home University Seats Allotted to O...,NaN,NaN,9163\r(95.7340875),NaN,NaN,NaN,NaN,NaN,NaN,NaN,30684\r(81.9007409),20876\r(89.4726360),10974\r(94.8701144),NaN,NaN
0,I,NaN,NaN,NaN,NaN,2021 - University Department of Chemical Techn...,Pharmaceutical and Fine Chemical Technology,NaN,Dr. Babasaheb Ambedkar Marathwada University,State Level,NaN,NaN,NaN,NaN,NaN,NaN,15728\r(92.4132587),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,I,NaN,61585\r(35.5003874),NaN,NaN,"2111 - Everest Education Society, Group of Ins...",Civil Engineering,NaN,Dr. Babasaheb Ambedkar Marathwada University,Home University Seats Allotted to Home Univers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,I,NaN,NaN,NaN,NaN,"2111 - Everest Education Society, Group of Ins...",Civil Engineering,NaN,Dr. Babasaheb Ambedkar Marathwada University,Home University Seats Allotted to Other Than H...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73074\r(20.6346907),NaN
0,I,NaN,NaN,NaN,NaN,"2111 - Everest Education Society, Group of Ins...",Civil Engineering,NaN,Dr. Babasaheb Ambedkar Marathwada University,Other Than Home University Seats Allotted to H...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77648\r(15.6192290),NaN,NaN
0,I,NaN,NaN,NaN,NaN,"2111 - Everest Education Society, Group of Ins...",Civil Engineering,NaN,Dr. Babasaheb Ambedkar Marathwada University,State Level,NaN,NaN,NaN,NaN,NaN,NaN,68158\r(25.6577566),NaN,NaN,NaN,NaN,NaN,NaN,NaN,83984\r(6.4113613)
0,I,NaN,62286\r(34.1917542),NaN,NaN,"2111 - Everest Education Society, Group of Ins...",Computer Science and Engineering,NaN,Dr. Babasaheb Ambedkar Marathwada University,Home University Seats Allotted to Home Univers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60609\r(37.2352136),NaN
0,I,NaN,73269\r(20.4413288),NaN,NaN,"2111 - Everest Education Society, Group of Ins...",Computer Science and Engineering,NaN,Dr. Babasaheb Ambedkar Marathwada University,Home University Seats Allotted to Other Than H...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,I,NaN,NaN,NaN,NaN,"2111 - Everest Education Society, Group of Ins...",Computer Science and Engineering,NaN,Dr. Babasaheb Ambedkar Marathwada University,Other Than Home University Seats Allotted to O...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37095\r(75.0697045),NaN,NaN
0,I,NaN,NaN,NaN,NaN,"2111 - Everest Education Society, Group of Ins...",Computer Science and Engineering,NaN,Dr. Babasaheb Ambedkar Marathwada University,State Level,NaN,NaN,NaN,NaN,NaN,NaN,64628\r(30.4273517),NaN,NaN,NaN,NaN,NaN,NaN,NaN,86723\r(1.1388078)

In [403]:
sos[1].split('\n')
status = ko[1][7:ko[1].find('Home')]

In [426]:
sos[1].split('\n')[2:-1]

['Home University Seats Allotted to Home University Candidates',
 'Home University Seats Allotted to Other Than Home University Candidates']

In [418]:
status = 'p'

In [419]:
if not (status.isalpha()):
    print (12)

In [417]:
np.nan

nan

In [436]:
df = tb.read_pdf("college_cutoffs.pdf", pages='129')

In [437]:
le

4

In [439]:
df =df[0]

In [440]:

df['CName']=c_name
df['Branch'] = branch
df['Status'] = status 
df['Home_Univ']= home_univ

In [441]:
df

,Unnamed: 0,Unnamed: 1,GOPENH,LOPENH,CName,Branch,Status,Home_Univ
0,I,NaN,76157\r(17.2885149),51016\r(54.6377903),2116 - Matoshri Pratishan's Group of Instituti...,Mechanical Engineering,NaN,Dr. Babasaheb Ambedkar Technological Universit...

In [444]:
len(dfc)

4

In [459]:
one = dfc[0]
two = dfc[2]

In [460]:
three = pd.DataFrame()

In [452]:
three

Empty DataFrame
Columns: []
Index: []

In [463]:
three = three.append(one)

In [465]:
three = three.append(two)

In [466]:
three

,Unnamed: 0,Unnamed: 1,GOPENH,LOPENH,CName,Branch,Status,Home_Univ
0,I,NaN,76157\r(17.2885149),51016\r(54.6377903),2116 - Matoshri Pratishan's Group of Instituti...,Electrical Engineering,NaN,Dr. Babasaheb Ambedkar Technological Universit...
0,I,NaN,83370\r(7.4361073),NaN,2116 - Matoshri Pratishan's Group of Instituti...,Mechanical Engineering,NaN,Dr. Babasaheb Ambedkar Technological Universit...

In [461]:
one

,Unnamed: 0,Unnamed: 1,GOPENH,LOPENH,CName,Branch,Status,Home_Univ
0,I,NaN,76157\r(17.2885149),51016\r(54.6377903),2116 - Matoshri Pratishan's Group of Instituti...,Electrical Engineering,NaN,Dr. Babasaheb Ambedkar Technological Universit...

In [484]:
dftotal[['GOPENH','Branch','CName']].dropna()

,GOPENH,Branch,CName
0,38617\r(73.1965557),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,16513,Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
1,(91.9946699),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,23678,Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
1,(87.5911589),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,45358,Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
1,(63.7500634),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,59000\r(40.1993728),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,33550,Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
1,(79.0459361),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,50417\r(55.6552943),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,30249,Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
1,(82.3019488),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,37419,Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
1,(74.7141212),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,73355\r(20.3518898),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,63702\r(31.9474519),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...
0,56632\r(44.6289550),Computer Engineering,5108 - Nashik District Maratha Vidya Prasarak ...

In [482]:
dftotal.Branch.unique()

array(['Computer Engineering'], dtype=object)